    <div>
      <nav class='navbar navbar-default'>
            <div class='container-fluid' *ngIf='!IsUserLoggedIn'>
                <a class='navbar-brand' [routerLink]="['/welcome']">Bhawana Enterprises</a>
                <ul class='nav navbar-right'>
                    <li><a [routerLink]="['/login']">Login</a></li>                    
                </ul>
            </div>
            <div class='container-fluid' *ngIf='IsUserLoggedIn'>
                <a class='navbar-brand' [routerLink]="['/welcome']">Bhawana Enterprises</a>
                <ul class='nav navbar-right'>
                    <li><button class="btn btn-warning" (click)='LogoutClick()'>Logout</button></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>